.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.button {
  width: 280px;
  display: inline-block;
  background-color: #68b738;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px; }

img {
  width: 100%;
  height: auto; }

.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Oswald", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 10px; }

.page-header__log-big {
  display: none; }

.page-header__logo {
  margin-bottom: auto; }

.page-header__logo-text {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: auto; }

.site-list {
  list-style: none;
  width: 280px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.site-list__item {
  flex-grow: 1;
  text-align: center;
  padding: 10px 0; }

.site-list__item a {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .page-header {
    width: 706px;
    padding-left: 31px;
    padding-right: 31px;
    margin-top: 20px;
    margin-bottom: 60px;
    justify-content: space-between;
    align-items: center; }
  .page-header__logo-text {
    display: none; }
  .page-header__logo {
    display: none; }
  .page-header__log-big {
    display: inline-block;
    min-width: 173px; }
  .main-nav__toggle {
    display: none; }
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    width: 440px; }
  .site-list__item a {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #000000; }
  .site-list__item--active a {
    position: relative; }
    .site-list__item--active a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      bottom: -5px;
      left: 0; } }

@media (min-width: 1200px) {
  .page-header {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 90px; }
  .site-list {
    width: 480px; }
  .site-list__item a {
    color: #ffffff;
    font-weight: lighter; }
    .site-list__item a::before {
      background-color: #ffffff; } }

.page-main__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
  font-weight: lighter; }

.make-program {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  width: 320px;
  margin: 0 auto; }

.page-main__wrapper {
  background-image: url(../img/make-program/index-background-mobile.png);
  background-repeat: no-repeat;
  background-position: 0, 0;
  min-height: 305px; }

.make-program__title {
  margin: 0;
  padding: 0;
  padding: 25px;
  font-size: 33px;
  line-height: 35px;
  font-weight: lighter;
  text-align: center; }

.make-program__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.make-program__wrapper-img {
  position: relative; }

.make-program__img {
  position: absolute;
  top: -130px;
  left: 0; }

.make-program__img--big,
.make-program__img--desktop {
  display: none; }

.make-program__button {
  margin: 0 auto;
  margin-top: 160px;
  margin-left: 20px; }

@media (min-width: 768px) {
  .make-program {
    width: 528px;
    padding-left: 120px;
    padding-right: 120px; }
  .page-main__wrapper {
    background: none;
    color: #000000;
    min-height: 205px;
    margin-bottom: 40px; }
  .make-program__title {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px; }
  .make-program__text {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0; }
  .make-program__img--small {
    display: none; }
  .make-program__img--big {
    display: block;
    top: -30px; }
  .make-program__button {
    position: relative;
    z-index: 1;
    margin: 0;
    margin-bottom: 450px;
    width: 245px;
    font-size: 20px;
    line-height: 20px; } }

@media (min-width: 1200px) {
  .make-program {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px; }
  .make-program__title {
    width: 420px;
    padding-left: 80px; }
  .make-program__text {
    font-size: 20px;
    line-height: 20px;
    padding-left: 80px; }
  .make-program__img--big {
    display: none; }
  .make-program__img--desktop {
    display: block;
    width: 552px;
    height: 499px;
    top: -300px;
    left: 430px; }
  .make-program__button {
    margin-left: 80px; }
  .page-main__wrapper {
    margin-bottom: 20px; }
  body {
    background-image: url(../../img/make-program/index-background-desktop.png);
    background-repeat: no-repeat;
    background-position: 100% 0; } }

.program-type {
  width: 280px;
  padding: 20px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif; }

.program-type__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.program-type__title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: lighter;
  margin-left: 70px; }

.program-type__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  width: 225px;
  margin-bottom: 25px; }

.program-type__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  position: relative; }
  .program-type__button::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: -10px;
    left: 0;
    opacity: 0.1;
    height: 2px;
    width: 240px; }

.how-it-work {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }

.how-it-work__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: lighter; }

.how-it-work__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.how-it-work__item {
  margin-bottom: 20px;
  margin-left: 80px; }

.how-it-work__text {
  margin: 0;
  padding: 0;
  width: 190px;
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px; }

.example {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 40px; }

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: lighter; }

.example__text {
  margin: 0;
  padding: 0;
  width: 190px;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px; }

.example__wrapper-stats {
  display: flex;
  justify-content: space-around; }

.example__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 123px;
  border: 1px solid rgba(68, 68, 68, 0.5);
  border-radius: 5px; }

.example__bold-text {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 5px; }

.example__small-text {
  width: 55px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Arial', sans-serif; }

.example__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center; }

.slider {
  width: 320px; }

.slider__img {
  width: 100%;
  margin-bottom: 30px; }

.slider__img--after {
  display: none; }

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto; }

.slider__btn {
  width: 55px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0;
  padding: 0; }

.slider__toggle {
  width: 85px;
  height: 13px;
  border: 1px solid #111111;
  border-radius: 10px;
  position: relative; }
  .slider__toggle::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #68b738;
    border-radius: 10px;
    top: 4px;
    left: 7px; }
  .slider__toggle::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #68b738;
    border-radius: 10px;
    top: 4px;
    right: 7px;
    display: none; }

.map {
  width: 320px;
  margin: 0 auto; }

.map__text {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px; }

.map__invaite {
  width: 125px;
  margin: 0;
  padding: 0; }

.map__adress {
  width: 125px;
  margin: 0;
  padding: 0; }

.catalog {
  margin: 0 auto;
  width: 320px; }

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.catalog__item {
  margin-bottom: 30px; }

.catalog__wrapper-item {
  display: flex;
  justify-content: space-between; }

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: lighter;
  text-transform: uppercase; }

.catalog__field,
.catalog__value {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }

.catalog__link {
  color: #000000; }

.catalog__bold-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: lighter;
  text-transform: uppercase; }

.catalog__link-text {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }

.catalog__btn {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #444444; }

.complementary-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: lighter; }

.complementary-products__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.complementary-products__item-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: lighter;
  text-transform: uppercase; }

.complementary-products__quantity,
.complementary-products__price {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444; }

.complementary-products__buy-all {
  display: inline-block;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-image: url(../../img/complementary-products/gift-photo-mobile.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 289px;
  min-width: 280px; }

.profile__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000; }

.form__name {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000; }

.form__label-name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000; }

.form__input {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding: 5px; }

.form__add {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000; }

.form__must-have-field {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444; }

.main-footer {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 235px; }

.main-footer__logo-text {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  cursor: pointer; }

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; }
