.catalog {
	margin: 0 auto;
	width: 320px;
}

.catalog__list {
	list-style: none;
	margin: 0;
	padding: 0;

}

.catalog__item {
	margin-bottom: 30px;
}

.catalog__wrapper-item {
	display: flex;
	justify-content: space-between;
}

.catalog__title {
	font-family: $font-os;
	font-size: 16px;
	line-height: 20px;
	font-weight: lighter;
	text-transform: uppercase;
}

.catalog__field,
.catalog__value {
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #444444;

}

.catalog__link {
	color: #000000;
}

.catalog__bold-text {
	font-family: $font-os;
	font-size: 16px;
	line-height: 20px;
	font-weight: lighter;
	text-transform: uppercase;
}

.catalog__link-text {
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #444444;
}

.catalog__btn {
	font-family: $font-os;
	font-size: 16px;
	line-height: 20px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #444444;
}