.example {
	width: 280px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.example__title {
	font-family: $font-os;
	font-size: 36px;
	line-height: 60px;
	font-weight: lighter;
}

.example__text {
	margin: 0;
	padding: 0;
	width: 190px;
	margin-bottom: 30px;

	font-family: 'Arial', sans-serif;
	color: #444444;
	font-size: 14px;
	line-height: 18px;
}

.example__wrapper-stats {
	display: flex;
	justify-content: space-around;
}

.example__stats {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 123px;

	border: 1px solid rgba(68,68,68,0.5);
	border-radius: 5px;
}

.example__bold-text {
	font-family: $font-os;
	font-size: 24px;
	line-height: 24px;
	font-weight: lighter;
	text-transform: uppercase;

	margin-bottom: 5px;
}

.example__small-text {
	width: 55px;

	text-align: center;
	font-size: 12px;
	line-height: 12px;
	font-family: 'Arial', sans-serif;
}

.example__expenses {
	font-family: $font-os;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
}

.slider {
	width: 290px;
	padding-right: 30px;
}

.slider__img {
	width: 100%;
	margin-bottom: 30px;
}

.slider__img--after {
	display: none;
}

.none {
	display: none;
}

.slider__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 200px;
	margin: 0 auto;
}

.slider__btn {
	width: 55px;

	border: none;

	font-family: $font-os;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;

	background-color: transparent;

	margin: 0;
	padding: 0;
}

.slider__toggle {
	width: 85px;
	height: 13px;

	border: 1px solid #111111;
	border-radius: 10px;

	position: relative;


	&::before {
		content: '';

		position: absolute;
		width: 35px;
		height: 5px;
		background-color: $bg-btn;
		border-radius: 10px;

		top: 4px;
		left: 7px;
	}
	&::after {
		content: '';

		position: absolute;
		width: 35px;
		height: 5px;
		background-color: $bg-btn;
		border-radius: 10px;

		top: 4px;
		right: 7px;

		display: none;
	}
}

@media (min-width: $tablet-width) {
	.example {
		width: 708px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.example__title {
		font-size: 60px;
		line-height: 60px;

		margin-bottom: 65px;
	}

	.example__text {
		width: 685px;

		font-size: 16px;
		line-height: 24px;

		margin-bottom: 65px;
	}

	.example__wrapper-tablet {
		width: 708px;

		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 50px;
	}

	.example__wrapper-stats {
		justify-content: space-between;


		width: 365px;
	}

	.example__expenses {
		margin: 0;
		padding: 0;

		width: 135px;
		display: block;
	}

	.example__price {
		display: block;
		width: 128px;
		text-align: right;
	}

	.slider {
		width: 738px;
		height: 704px;

		padding: 0;
		margin: 0;
	}

	.slider__wrapper {
		display: none;
	}

	.slider__img--before {
		width: 690px;
		height: 517px;
	}

	.slider__img--after {
		width: 690px;
		height: 517px;
	}
}

@media (min-width: $desktop-width) {
	.example {
		width: auto;
		max-width: 1220px;
		padding-left: 7%;
		padding-right: 7%;

		display: flex;
		justify-content: space-between;
	}

	.example__wrapper-desktop {
		width: 560px;
	}

	.example__title {
		margin-bottom: 130px;
	}

	.example__text {
		width: 440px;
	}

	.example__wrapper-stats {
		width: 370px;
		margin-bottom: 50px;
	}

	.example__wrapper-tablet {
		flex-wrap: wrap;
		width: 370px;
	}

	.example__expenses {
		width: 100%;

		text-align: left;
		font-size: 20px;
		line-height: 20px;
	}

	.example__price {
		margin-left: 50px;
		display: inline;
	}

	.slider {
		width: 620px;
		height: 585px;
	}

	.slider__img--before {
		width: 690px;
		height: 517px;
	}

	.slider__img--after {
		width: 690px;
		height: 517px;
	}
}