.main-footer {
	width: 280px;
	min-height: 175px;

	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}

.main-footer__logo-text {
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	font-family: $font-os;

	cursor: pointer;
}

.social__list {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;

	width: 135px;

	position: relative;

	&::after {
		content: "";

		position: absolute;

		height: 2px;
		width: 280px;

		background-color: #d9d9d9;

		top: -30px;
		left: -65px;
	}

	&::before {
		content: "";

		position: absolute;

		height: 2px;
		width: 280px;

		background-color: #d9d9d9;

		top: 40px;
		left: -65px;
	}
}

.social__item {
	position: relative;
}

.social__item--vk {
	&::before {
		content: "";

		position: absolute;

		width: 22px;
		height: 12px;

		top: 0;
		left: 0;

		background-image: url(../img/social/m-vk.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}
}

.social__item--inst {
	&::before {
		content: "";

		position: absolute;

		width: 16px;
		height: 16px;

		top: 0;
		left: 0;

		background-image: url(../img/social/m-insta.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}
}

.social__item--fb {
	&::before {
		content: "";

		position: absolute;

		width: 10px;
		height: 19px;

		top: 0;
		left: 0;

		background-image: url(../img/social/m-fb.svg);
		background-repeat: no-repeat;
		background-position: 0 0;
	}
}

.copyright__text {
	font-family: $font-os;
	text-transform: uppercase;
}

@media (min-width: $tablet-width) {
	.main-footer {
		padding-left: 31px;
		padding-right: 31px;
		width: 706px;

		flex-direction: row;
		justify-content: space-between;

		min-height: 65px;
	}

	.social__list {
		&::after {
			display: none;
		}

		&::before {
			display: none;
		}
	}

	.social__item {
		cursor: pointer;
	}
}

@media (min-width: $desktop-width) {
	.main-footer {
		width: auto;
		max-width: 1220px;
		padding-left: 7%;
		padding-right: 7%;
	}

	.social__list {
		width: 130px;
	}
}