.make-program {
	font-family: $font-os;
	color: #ffffff;

	width: 280px;
	margin: 0 auto;
}

.page-main__wrapper {
	background-image: $bg-index-image;
	background-repeat: no-repeat;
	background-position: 0, 0;
	min-height: 305px;
}

.make-program__title {
	margin: 0;
	padding: 0;
	padding: 25px;

	font-size: 33px;
	line-height: 35px;
	font-weight: lighter;

	text-align: center;

}

.make-program__text {
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;

	text-align: center;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
}

.make-program__wrapper-img {
	position: relative;
}

.make-program__img {
	position: absolute;
	top: -130px;
	left: 0;
}

.make-program__button {
	margin-top: 50px;
	display: inline-block;
}