.make-program {
	font-family: $font-os;
	color: #ffffff;

	width: 320px;
	margin: 0 auto;
}

.page-main__wrapper {
	background-image: $bg-index-image;
	background-repeat: no-repeat;
	background-position: 0, 0;
	min-height: 305px;
}

.make-program__title {
	margin: 0;
	padding: 0;
	padding: 25px;

	font-size: 33px;
	line-height: 35px;
	font-weight: lighter;

	text-align: center;

}

.make-program__text {
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;

	text-align: center;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
}

.make-program__wrapper-img {
	position: relative;
}

.make-program__img {
	position: absolute;
	top: -130px;
	left: 0;
}

.make-program__img--big,
.make-program__img--desktop {
	display: none;
}

.make-program__button {
	margin: 0 auto;
	margin-top: 160px;
	margin-left: 20px;
}

@media (min-width: $tablet-width) {
	.make-program {
		width: 528px;
		padding-left: 120px;
		padding-right: 120px;
	}

	.page-main__wrapper {
		background: none;
		color: #000000;
		min-height: 205px;
		margin-bottom: 40px;

	}

	.make-program__title {
		text-align: left;

		margin: 0;
		padding: 0;
		margin-bottom: 40px;

		font-size: 60px;
		line-height: 60px;
	}

	.make-program__text {
		text-align: left;

		font-size: 20px;
		line-height: 20px;

		margin-bottom: 0;
	}

	.make-program__img--small {
		display: none;
	}

	.make-program__img--big {
		display: block;
		top: -30px;
	}

	.make-program__button {
		position: relative;
		z-index: 1;

		margin: 0;
		margin-bottom: 400px;

		width: 245px;

		font-size: 20px;
		line-height: 20px;
	}
}

@media (min-width: $desktop-width) {
	.make-program {
		width: 1220px;
		padding-left: 110px;
		padding-right: 110px;
	}

	.make-program__title {
		width: 420px;
		padding-left: 80px;
	}

	.make-program__text {
		font-size: 20px;
		line-height: 20px;

		padding-left: 80px;
	}

	.make-program__img--big, {
		display: none;
	}

	.make-program__img--desktop {
		display: block;
		width: 552px;
		height: 499px;

		top: -300px;
		left: 430px;
	}

	.make-program__button {
		margin-left: 80px;
	}

	.page-main__wrapper {
		margin-bottom: 20px;
		position: relative;

		&::after {
			content: "";

			position: absolute;
			width: 720px;
			height: 696px;
			background-image: url(../img/make-program/index-background-desktop.png);
			background-repeat: no-repeat;
			background-position: 0 0;

			top: -173px;
			left: 681px;
		}
	}

	.main-nav {
		position: relative;
		z-index: 1;
	}
}