.map {
	width: 320px;
	margin: 0 auto;
}

.map__text {
	display: flex;
	justify-content: space-between;
	width: 280px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}

.map__invaite {
	width: 125px;

	font-family: $font-os;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: lighter;

	margin: 0;
	padding: 0;
}

.map__adress {
	width: 125px;

	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #444444;

	margin: 0;
	padding: 0;
}

/* .mag__img--tablet,
.mag__img--desktop {
	display: none;
} */

@media (min-width: $tablet-width) {
	.map {
		width: 768px;
	}

	.map__text {
		width: 626px;
		padding-left: 71px;
		padding-right: 71px;
		margin-bottom: 50px;

		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.map__adress {
		text-align: right;
		font-size: 16px;
		line-height: 20px;

		width: 195px;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.map__invaite {
		font-size: 20px;
		line-height: 25px;

		width: 170px;
	}

	.map__city {
		margin-top: 20px;
	}

	/* .mag__img--phone {
		display: none;
	} */

	.mag__img {
		width: 767px;
	}
}

@media (min-width: $desktop-width) {
	.map {
		width: 100%;
		position: relative;
	}

	.mag__img {
		width: 1440px;
	}

	.map__text {
		width: 520px;

		padding: 15px;

		background-color: #ffffff;

		justify-content: space-around;

		position: absolute;

		top: 150px;
		left: 100px;

		z-index: 1;
	}
}