.profile {
	width: 280px;
	padding: 0 20px;
	margin: 0 auto;

	margin-bottom: 50px;
}

.profile__text {
	font-family: $font-os;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	width: 230px;

	margin-bottom: 30px;
	margin-top: 30px;
}

.form__name {
	font-family: $font-os;
	font-size: 24px;
	line-height: 24px;
	color: #000000;
}

.form__label-name {
	font-family: $font-os;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	margin-right: 15px;
}

.form__input {
	font-family: $font-os;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;

	padding: 15px;

	flex-grow: 1;
}


.form__add {
	font-family: $font-os;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}

.form__must-have-field {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #444444;
	text-align: center;
}

.form__cat {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;

	border: none;
}

.form__item label {
	display: flex;
	align-items: center;
}

.form__label-name--radio {
	padding-left: 47px;
	margin-top: 30px;

	cursor: pointer;

	z-index: 1;
}

.form__radio-pos {
	position: relative;
}

.form__radio-icon {
	position: absolute;

	top: 21px;
	left: 0;

	width: 30px;
	height: 30px;

	border: 1px solid #000000;
	border-radius: 50%;
}

.form__radio:checked + .form__radio-icon {
	&::before {
		content: "";

		position: absolute;
		top: 9px;
		left: 9px;

		width: 12px;
		height: 12px;

		background-color: #68b738;

		border-radius: 50%;

	}
}

.form__person {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;

	width: 280px;

	border: none;
}

.form__name {
	display: flex;
	align-items: center;

	margin-bottom: 20px;
	padding: 0;

	width: 280px;

	&::after {
		content: "";

		height: 2px;
		width: 100px;

		background-color: #68b738;

		flex-grow: 1;

		margin-left: 20px;
	}
}

.form__label-size {
	width: 280px;
}

.form__input--icon {
	padding-right: 35px;
}

.form__label-name--icon-mail {
	position: relative;

	&::after {
		content: "";

		position: absolute;
		top: 3px;
		right: -223px;

		width: 17px;
		height: 13px;

		background-image: url(../img/profile/mail.svg);
		background-repeat: no-repeat;
		background-position: 0 0;

	}
}

.form__label-name--icon-phone {
	position: relative;

	&::after {
		content: "";

		position: absolute;
		top: 1px;
		right: -210px;

		width: 20px;
		height: 20px;

		background-image: url(../img/profile/phone.svg);
		background-repeat: no-repeat;
		background-position: 0 0;

	}
}

.form__comment {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;

	width: 280px;

	border: none;
}

.form__input--textarea {
	width: 250px;
	min-height: 110px;
}

.form__additionally {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	border: none;
}

.form__add {
	padding-left: 45px;
	margin-bottom: 20px;
}

.form__checkbox-pos {
	position: relative;

	cursor: pointer;
}

.form__checkbox-icon {
	position: absolute;

	top: -8px;
	left: 0;

	width: 30px;
	height: 30px;

	border: 1px solid #000000;

}

.form__checkbox:checked + .form__checkbox-icon {
	&::after {
		content: "";

		position: absolute;
		top: 6px;
		left: 5px;

		width: 21px;
		height: 16px;

		background-image: url(../img/profile/tick.png);
		background-repeat: no-repeat;
		background-position: 0 0;

	}
}

.form__btn {
	border: none;
	font-family: $font-os;
}

@media (min-width: $tablet-width) {
	.profile {
		padding-left: 70px;
		padding-right: 70px;

		width: 628px;

		margin-bottom: 100px;
	}

	.profile__text {
		font-size: 20px;
		line-height: 30px;

		width: 335px;
	}

	.form__cat {
		width: 628px;
	}

	.form__label-name {
		font-size: 20px;
		line-height: 20px;
	}

	.form__item label {
		width: 628px;
	}

	.form__input {
		font-size: 20px;
		line-height: 20px;
	}

	.form__label-name--radio {
		margin-top: 26px;
	}

	.form__name {
		font-size: 36px;
		line-height: 36px;

		width: 698px;

		position: relative;

		margin-bottom: 50px;
		padding: 0;

		&::before {
			content: "";

			position: absolute;
			top: 17px;
			left: -66px;

			width: 30px;
			height: 2px;

			background-color: #68b738;
		}

		&::after {
			margin-left: 40px;
		}
	}

	.form__person {
		width: 628px;
	}

	.form__label-name--icon-mail {
		&::after {
			right: -540px;
		}
	}

	.form__label-name--icon-phone {
		&::after {
			right: -525px;
		}
	}

	.form__item {
		width: 628px;
	}

	.form__item--tablet {
		border: 1px solid rgba(17, 17, 17, 0.3);

		margin-top: 50px;
		padding: 30px;
		padding-top: 14px;

		width: 568px;
	}

	.form__input--textarea {
		width: 598px;
	}

	.form__add {
		font-size: 20px;
		line-height: 20px;
	}

	.form__wrapper-add {
		width: 628px;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.form__item--add {
		width: 275px;
	}

	.form__item .form__checkbox-pos {
		width: 275px;
	}

	.form__btn {
		font-size: 20px;
		line-height: 20px;

		margin-right: 60px;
	}

	.form__btn--tablet {
		display: flex;
		align-items: center;
	}

	.form__must-have-field {
		font-size: 16px;
		line-height: 16px;
	}
}

@media (min-width: $desktop-width) {
	.profile {
		width: 1220px;
		padding-left: 110px;
		padding-right: 110px;
	}

	.form__cat {
		width: 1220px;

		display: flex;
		flex-wrap: nowrap;
	}

	.form__desktop {
		width: 570px;
	}

	.form__item label {
		width: 570px;
	}

	.form__item--tablet {
		width: 510px;
	}

	.form__item--tablet{
		padding-top: 25px;
		padding-bottom: 59px;
		margin-bottom: 50px;
	}

	.form__destop-pos {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.form__name {
		margin: 0 auto;
		padding: 0;
		margin-bottom: 50px;

		width: 1330px;

		&::before {
			width: 150px;
			left: -190px;
		}

	}

	.form__item--wrapper-desktop {
		width: 1220px;

		display: flex;
		justify-content: space-between;
	}

	.form__item {
		width: 570px;
	}

	.form__label-size {
		width: 570px;
	}

	.form__label-name--icon-mail {
		&::after {
			right: -490px;
		}
	}

	.form__label-name--icon-phone {
		&::after {
			right: -475px;
		}
	}

	.form__input--textarea {
		width: 1190px;
	}

	.form__wrapper-add {
		width: 1220px;

		justify-content: space-between;
	}

	.form__checkbox-pos {
		width: auto;
	}

	.form__item--add {
		width: auto;
	}

	.form__btn {
		width: 570px;
	}

}